services:
  boron:
    image: ghcr.io/atomicloud/sulfone.boron/sulfone-boron:${BORON_VERSION:-latest}
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - cyanprint
    ports:
      - 9000:9000
    tty: true

networks:
  cyanprint:
    external: true
